{% extends 'base.html' %}
{% load static %}
{% block afpStyle_css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}    
    <p class="p_about">                      
        
        Szenvedélyünk a sajtok világa, és örömmel hozunk el Önnek minőségi, válogatott sajtokat a világ minden tájáról. Célunk, hogy az asztalára a legfrissebb, legízletesebb kézműves sajtokat kínáljuk, legyen szó hagyományos ízekről vagy különleges gourmet élményekről.
        
        Webshopunkban mindenki megtalálhatja a számára tökéletes sajtot, legyen Ön sajtimádó vagy egy különleges alkalomra keres egyedi sajtválogatást. Fedezze fel kínálatunkat, és élvezze a sajtok különleges ízvilágát!</p>
{% endblock %}