{% extends "base.html" %}

{% load static %}

{% block cart_detail_css %}
<link rel="stylesheet" type="text/css" href="{% static 'cart_detail_style.css' %}">
{% endblock %}

{% block content %}
<div class="cart-detail-container">
    <div class="cart-container">
        <h1>Your Shopping Cart</h1>
        {% if cart %}
        {% for item in cart %}
        <div class="cart-item">
            <img src="https://via.placeholder.com/100" alt="Item Image" class="cart-item-image">
            <div class="cart-item-details">
                <h2 class="cart-item-title">{{ item.product.Name }}</h2>
                <p class="cart-item-price">{{ item.product.price }} Ft</p>
                <div class="cart-item-quantity">
                    <label for="quantity2">Mennyiség:</label>
                    <input type="number" id="quantity2" name="quantity2" min="1" max="{{ item.product.stock }}" value="{{ item.quantity }}">
                </div>
                <p class="cart-item-subtotal">Összesen: {{ item.total_price }}</p>
                <button href="{% url 'cart_remove' item.product.id %}" class="remove-button">Eltávolítás</button>
            </div>
        </div>

        <div class="cart-summary">
            <h2>Összesen: {{ cart.total_price }}</h2>
            <button class="checkout-button">Proceed to Checkout</button>
        </div>
        </div>
        {% endfor %}
        {% else %}
        <p>még üres a kosarad</p>
        {% endif %}
    </div>
{% endblock %}