{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block login_css %}
<link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
{% endblock %}
{% block content %}
<div class="login-x bg-light">
<div class="login-container">  
    <div class="login-form">
      <div class="login-form-inner">                    
      </div>
      {% if error %}
      {% if success %}
            <div class="alert alert-success text-center" style="width:50%;" >
      {% for message in messages %}
            <p>{{ message }}</p>
      {% endfor %}
            </div>
      {% else %}
            <div class="alert alert-danger text-center" style="width:50%;" >
      {% for message in messages %}
            <p>{{ message }}</p>
      {% endfor %}
            </div>
      {% endif %}
      {% endif %}
        <h1>Elfelejtett Jelszó</h1>    
        <div class="sign-in-seperator selector">
          <span>Vagy felhasználó névvel</span>
        </div>
        <div style="width:50%">
        <form method="POST" action="{% url 'lost_pwd' %}">
          {% csrf_token %}
        <div class="login-form-group">
          <label for="nickname">Felhasználó név: <span class="required-star"></span></label>
          <input type="text" placeholder="sajtfanatikus" name="username" id="nickname">
        </div>
        <div class="login-form-group">
          <label for="email">Email: <span class="required-star"></span></label>
          <input autocomplete="off" type="text" placeholder="sajtfanatikus@example.com" name="email" id="email">
        </div>
        {% url 'login' as login_url %}
        <a onclick="this.closest('form').submit();return false;" href="#" class="rounded-button login-cta">Küldés</a>
    </form>
        </div>
      </div>
    </div>
      {% endblock %}