{% extends "base.html" %}

{% block title %}Főoldal{% endblock %}

{% block content %}
<div class="szoveg-box">

    <h5 class="welcome-text"><p>Fedezze fel webshopunk gazdag sajtválasztékát, ahol prémium minőségű sajtok széles palettáját kínáljuk a hagyományos ízek kedvelőitől egészen a különleges ínyencekig! 
        Kínálatunkat gondosan válogattuk össze, hogy minden alkalomra megtalálja a tökéletes sajtot.</p></h5>


       <h3>Akciók és újdonságok</h3> 
        Folyamatosan frissítjük kínálatunkat a legújabb sajtokkal és különleges ajánlatokkal, hogy Ön mindig megtalálja a legjobb termékeket kedvezményes áron.
    </div>
{% endblock %}
