{% extends "base.html" %}
{% load static %}
{% block items_css %}
<link rel="stylesheet" type="text/css" href="{% static 'items_style.css' %}">
{% endblock %}
{% block filter %}

{% endblock %}
{% block content %}
<div class="items-container">
    {% if count <= 0 %}
    <p> Nincsen termék ilyen név alatt </p>
    {% else %}
    {% for product in Items %}
        <div class="item-card">
            <form method="POST" action="{% url 'add_to_cart' %}">
            {% csrf_token %}
            <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t39.30808-6/460989686_1081072970056967_8921222844231122289_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=36A7bFz0yooQ7kNvgH8CYSS&_nc_zt=23&_nc_ht=scontent-vie1-1.xx&_nc_gid=Acz_k6uB983JQLp_LiPnmdX&oh=00_AYAR4skIPdEMjYpi0sLdCv5WjbCFnNMtvxFaQ2Y7QWlsSg&oe=6750AF4B" alt="Item Image" class="item-image">
            <h2 class="item-title">{{ product.name }}</h2>
            <p class="item-description">{{ product.description }}</p>
            <p class="item-price">{{ product.price }} Ft/db</p>
            {% if user.is_authenticated %}
            <div class="quantity-selector">
                <label for="quantity">Darabszám:</label>
                <input type="number" id="quantity-{{ product.id }}" name="quantity" min="1" max="{{ product.stock }}" value="1"> db
            </div>
            <input type="hidden" name="product_id" value="{{ product.id }}">
            
            <button href="" class="view-button">Megtekintés</button>
            <button type="submit" class="purchase-button">Megveszem</button> {% endif %}
            </form>
        </div>
{% endfor %}
{% endif %}
</div>
{% endblock %}