{% extends 'base.html' %}
{% load static %}
{% block order_style_css %}
<style>
    img{
        width: 150px;
        height: auto;
        border-radius: 10px;
        
    }
    .card-body {
        height: 180px;
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container mt-5 col-md-4 card bg-light" >
        <div class="row card-body">
            <div class="col">
                <img style="width: 150px; height: auto; border-radius: 10px;" src="{% static 'kepek/Appenzeller.jpg' %}">
            </div>
            <div class="col"> 
                <div class=" card-body fs-5 fw-bold">
                <h5>Appenzeller</h5>
                <p>1db</p>
                <a href="#" class="btn btn-primary">Megtekintés</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 col-md-4 card bg-light" >
        <div class="row card-body">
            <div class="col">
                <img style="width: 150px; height: auto; border-radius: 10px;" src="{% static 'kepek/gomolya.png' %}">
            </div>
            <div class="col"> 
                <div class=" card-body fs-5 fw-bold">
                <h5>Gomolya</h5>
                <p>3db</p>
                <a href="#" class="btn btn-primary">Megtekintés</a>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center; padding: 10px;">
        <a href="orders.html" class="btn btn-primary">Vissza</a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}